h2{
  font-size: 60px;
}

.hero-img{
  max-height: 850px;
}

.hero-text{
  position: absolute;
  top: 35%;
  left: 5%;
  max-width: 600px;
}

/* Seccion Servicios */

.section-servicios{
  margin-top: 80px;
  padding: 0px 80px;
}

.img-servicios{
  max-width: 500px;
}

.icon-servicios{
  max-width: 50px;
  max-height: 50px;
}