.body-navbar{
  background-color: transparent;
}

.body-header{
  padding: 0px 80px;
  background-color: transparent;
}

.logo{
  max-width: 210px;
}

.btn-outline-primary {
  color: var(--text-color);
  border-color:  var(--text-color);
}

.btn-outline-primary:hover {
  background-color: var(--text-color);
  border-color:  var(--text-color);
}


